
<html>
<head>
    <title>Title</title>
</head>
<body>
    <div class="container align-content-center">
        <div class="text-center">
            <h1><b>Title</b></h1>
        </div>

        <p>Content</p>
    </div>
</body>
</html>