@model Article
<div class="container align-content-center border">
    <div class="text-center  mt-4 p-5 ">
        <h1><b>@Model.Title</b></h1>
    </div>
    <div>
        <h5>
            @Model.Author
        </h5>
    </div>
    <div>
        <h4>
            <p>@Model.Content</p>
        </h4>
    </di>
</div>