@{
    ViewData["Title"] = "Home Page";
}
@model Article

<div class="container row mt-4 border p-5 mt-5 align-content-center">
    <div class="text-center">
        <a code style="text-decoration:none" href="#"><h1><b>Title 1</b></h1></a>
    </div>
</div>
<div class="container row mt-4 border p-5 mt-5 align-content-center">
    <div class="text-center">
        <a code style="text-decoration:none" href="#"><h1><b>Title 2</b></h1></a>
    </div>
</div>
<div class="container row mt-4 border p-5 mt-5 align-content-center">
    <div class="text-center">
        <a code style="text-decoration:none" href="#"><h1><b>Title 3</b></h1></a>
    </div>
</div>