@model Article

<form method="post">
    <input asp-for="Id" hidden />
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Article</h2>
            <hr />
        </div>
        @* <div asp-validation-summary="ModelOnly"></div> *@
        <div class="mb-3 row p-1">
            <label asp-for="Title" class="p-0"></label>
            <input asp-for="Title" type="text" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="IsPriority" class="p-0"></label>
            <div>
                <input asp-for="IsPriority" type="radio" value="False" />
                <label for="Flase">No</label>
            </div>
            <div>
                <input asp-for="IsPriority" type="radio" value="True" />
                <label for="True">Yes</label>
            </div>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Author" class="p-0"></label>
            <input asp-for="Author" type="text" class="form-control" />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Content" class="p-0"></label>
            <textarea asp-for="Content" type="text" class="form-control article-content-input"> </textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Category" class="p-0"></label>
            <input asp-for="Category" type="text" class="form-control" />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Description" class="p-0"></label>
            <input asp-for="Description" type="text" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="ImageLink" class="p-0"></label>
            <input asp-for="ImageLink" type="text" class="form-control" />
            <span asp-validation-for="ImageLink" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Edit</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="ArticleCrud" asp-action="Index" class="btn btn-outline-secondary border form-control">Back to List</a>
            </div>
        </div>


    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}