:root {
    --c1-rows: auto auto;
    --c1-n1-rows: repeat(4, auto);
    --c1-nx-rows: 14.2em 4.4em auto;
    --c2-rows: repeat(4, auto);
    --c2-n1-rows: 22em 14em auto;
    --c2-nx-columns: 1fr 2fr;
    --c2-nx-rows: 4em auto;
    --c3-rows: repeat(3, auto);
    --c3-nx-columns: 1fr 2fr;
    --c3-nx-rows: 8.5em auto;
    /* Portrait mode settings */
    --c1-rows-p: repeat(4, auto);
    --c2-rows-p: repeat(5, auto);
    --c3-rows-p: repeat(5, auto);
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-size: 22px;
}

.article-content-input {
    height: 150px;
    width: 100%;
}

.sub-headline-container {

}

.sub-headline-container .news-x {
    grid-template-rows: var(--c1-nx-rows);
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}